# Ignore the testing Python script
threadevent.py
test.py
test1.py
test2.py
test3.py


# Other ignores
__pycache__/
*.pyc
.env
icon.png
students_profiles.json
students_profiles_NOT_SORTED.json
students_profiles_SORTED.json
student_profiles.json
search.py
sort.py